/*------------------------------------*\
    #EXTENDS
\*------------------------------------*/
%area-login {
  text-align: center;
}
%button {
  background: #C0C0C0;
  border-bottom: .312rem solid color--shadow(#C0C0C0);
  border-left: none;
  border-radius: .179rem;
  border-right: none;
  border-top: none;
  color: $color-tertiary;
  display: block;
  font-size: $font-size-6;
  padding: .5rem;
  text-decoration: none;
  text-align: center;
  box-shadow: $drop-shadow;
}
%button-hover {
  background: color--shadow(#C0C0C0);
  border-bottom: .312rem solid color--shadow(color--shadow(#C0C0C0));
  cursor: pointer;
}
%input {
  background: transparent;
  border: .125rem solid color--shadow($color-tertiary);
  color: $color-secondary;
  display: block;
  font-family: $font-text;
  font-size: $font-size-6;
  padding: .5rem;
  width: span(10); // see %area-login padding.
  margin: 0 auto;
}
%input-focus {
  border: .125rem solid $color-secondary;
  outline: none;
}
%ribbon-prelim {
  padding:0 0 $ribbon-tail 0;
  position:absolute;
  top: .5rem;
  width:$ribbon-w;
  font-size: 1rem;
}
%ribbon-label {
  @include transform(rotate(-90deg));
  position: absolute;
  font-size: $font-size-3;
  text-transform: uppercase;
  left: -1.375rem;
  top: 1.5rem;
}
%ribbon-div {
  background: $color-tertiary;
  color:$color-quarternary;
  padding:0.5em 0;
  text-align:center;
}
%ribbon-div-after {
  border-left: $ribbon-w/2 solid $color-tertiary;
  border-right: $ribbon-w/2 solid $color-tertiary;
  border-bottom: $ribbon-tail solid transparent;
  bottom:0;
  content:'';
  height: 0;
  left:0;
  position:absolute;
  width: 0;
}
