/*------------------------------------*\
    #FONTS
\*------------------------------------*/
$font-text: 'Sintony', sans-serif;
$font-text-bold: 'Sintony Bold', sans-serif;
$font-title-bold: 'Merriweather Black', serif;
$font-title-regular: 'Merriweather Regular', serif;
$font-title-light: 'Merriweather Light', serif;
@font-face {
  font-family: 'Sintony';
  src: url('fonts/Sintony-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Sintony Bold';
  src: url('fonts/Sintony-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Merriweather Black';
  src: url('fonts/Merriweather-Black.ttf')  format('truetype');
}
@font-face {
  font-family: 'Merriweather Regular';
  src: url('fonts/Merriweather-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Merriweather Light';
  src: url('fonts/Merriweather-Light.ttf')  format('truetype');
}

/*------------------------------------*\
    #FONT-SIZES
    http://lifehacker.com/stick-to-these-font-sizes-to-simplify-designs-and-more-1531615325
\*------------------------------------*/
$font-size-1: 0.313rem; // 5px
$font-size-2: 0.438rem; // 7px
$font-size-3: 0.563rem; // 9px
$font-size-4: 0.750rem; // 12px
$font-size-5: 1rem;     // 16px
$font-size-6: 1.313rem; // 21px
$font-size-7: 1.750rem; // 28px
$font-size-8: 2.313rem; // 37px
$font-size-9: 3.125rem; // 50px
$font-size-10: 4.188rem; // 67px
$font-size-11: 5.188rem; // 83px

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
$drop-shadow: .3125rem .3125rem 0rem $color-gray-lightest;

/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/

$breakpoint-1: 57.8125rem;
$breakpoint-2: 69.6875rem;