.album-list--album {
  overflow: hidden;
  padding-bottom: gutter();
  border-bottom: .0625rem solid $color-gray-lightest;
  text-align: center;
  
  .title span {
    font-family: $font-title-bold;
  }
  
  .genre-list {
    background: $color-yellow;
  }
}

.album--cover {
  box-shadow: $drop-shadow;
  border: .0625rem solid $color-gray-lightest;
  
  @include breakpoint( $breakpoint-1 ) {
    float: left;
    margin: 0 gutter() gutter() 0;
  }
}

.album-description {
  text-align: left;
}
