@import "../modules/colors";
@import "../modules/variables";
//@import "../modules/mixins";
//@import "../modules/extends";
/*------------------------------------*\
    #SITE-ARCHITECTURE
    Excluding Header and Footer.
\*------------------------------------*/
* + * {
  margin-top: gutter();
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
  color: $color-gray-dark;
}

body, html {
  background: $color-gray-lightest;
  font-family: $font-text;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  
  &:hover {
    border-bottom: .0625em dashed white;
  }
}

main {
  padding: span(1);
  overflow: hidden;
  margin-top: 0;
  box-sizing: content-box;
}
