// Requirements
// ============
$susy: (
  columns: 12,
  gutters: 1/4,
  global-box-sizing: border-box,
);

#site-header,
#site-footer {
  @include container(100%);
}
main {
  @include container(62.5rem);
}

/*
@include breakpoint( min-width 760px ) {
  @include nested(8) {
    #finished-read,
    #current-read {
      @include span(4);
    }
    #future-read {
      @include push(4);
    }
  }
}
*/
