/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/
#site-header {
  background: $color-gray-dark;
  text-align: center;
  font-family: $font-title-bold;
}

.site-header--logo {
  font-size: $font-size-9;
  position: relative;
  display: inline-block;
  
  @include breakpoint( $breakpoint-1 ) {
    float: left;
    margin: 0 1.5625rem 0;
  }
  
  h1 {
    position: relative;
    margin: 0;
    
    a {
      line-height: 3.5rem;
      display: block;
      
      &:hover {
        border-bottom: none;
      }
    }
  }
}

.site-header--dot {
  background: $color-yellow;
  width: 5rem;
  height: 5rem;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 4.9375rem;
  top: -.4375rem;
}

.main-navigation,
.secondary-navigation {
  margin: 0;
  
  li {
    display: inline;
    font-family: $font-title-light;
  }
}

.menu-navigation-container {
  margin: 1rem 0;
  
  @include breakpoint( $breakpoint-1 ) {
    
    header & {
      float: left;
      border-left: .0625rem solid white;
      padding: 0 0 0 1.5625rem;
    }
  }
  
  li {
    margin: 0 0 0 1.5625rem;
    
    &:first-child {
      margin: 0;
    }
  }
}

.menu-social-links-container {
  margin: 0;
  
  @include breakpoint( $breakpoint-1 ( $breakpoint-2 - .0625rem ) ) {
    
    header & {
      clear: both;
      position: relative;
    }
  }
  
  @include breakpoint( $breakpoint-2 ) {
    
    header & {
      clear: none;
      float: right;
      width: 50%;
    }
  }
  
  a {
    display: block;
    
    &:hover {
      border-bottom: none;
    }
    
    span {
      display: none;
    }
    
    svg {
      fill: white;
      height: 3rem;
      width: 3rem;
      margin: .25rem;
      vertical-align: middle;
      
      & * {
        margin: 0;
        line-height: 1rem;
      }
    }
  }
  
  li {
    width: 20%;
    float: left;
    margin: 0;
    
    &:first-child {
      background: $color-brown;
      
      a {
        
      }
    }
    &:nth-child(2) {
      background: $color-pink;
    }
    &:nth-child(3) {
      background: $color-purple;
    }
    &:nth-child(4) {
      background: $color-red;
    }
    &:nth-child(5) {
      background: $color-orange;
    }
  }
}
