.site {
  overflow: hidden;
  text-align: center;
  
  @include breakpoint( $breakpoint-1 ) {
    border-bottom: .0625rem solid $color-gray-lightest;
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  img {
    box-shadow: $drop-shadow;
    border: .0625rem solid $color-gray-lightest;
    
    &:hover {
      border: .0625rem solid $color-red;
    }
  }
}

.site--image-link {
  
  @include breakpoint( $breakpoint-1 ) {
    float: left;
    margin: 0 gutter() gutter() 0;
  }
  
  .post--content &:hover {
    border-bottom: none;
  }
}

.site--description {
  text-align: left;
}
